* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
body {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
