* {
  box-sizing: border-box;
  background: #282a36;
  background: #282a36;
  color: #f8f8f2;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  transition: 0.1s;
  min-width: 8rem;
  border: 1px solid #44475a;
}
.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #50fa7b, 0 0 0 4px #50fa7b;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
