.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  border: 3px solid #44475a;
}

.conta {
  grid-column: 1/ -1;
  display: flex;
  gap: 20px;
}
.pago > p,
.pago > h2 {
  text-decoration-line: line-through;
}
.contas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.titulo {
  text-align: center;
  margin: 2rem 0;
}
.btns {
  display: flex;
  gap: 10px;
}
.btns button:last-child:hover,
.btns button:last-child:focus {
  box-shadow: 0 0 0 3px #ff5555, 0 0 0 4px #ff5555 !important;
}
